input[list]
{
    max-width: 100%;
}

ul { 
  list-style-type: none; 
}

ul > li {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

h4{
  font-size:18px
}

.header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  z-index: 100;
  width:100%;
  background-color:#e8e7e3;
  padding:0 3rem 0 3rem;
}

.header-logo{
  font-size:40px
}

.content {
  overflow:hidden;
  margin-top:7rem;
}

.wrapper{
  width:100%
}

.content-wrapper{
  height:100%;
}

.content-item{
  overflow: auto;
  max-height:330px;
}

.searchBar{
  min-width:30%;
}

@media screen and (max-width:640px) {
  .header{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .header-title{
    font-size:25px
  }

  .header-logo{
    font-size:20px
  }
  .header{
    padding:0 10px 0 10px;
  }

  .content {
    margin-top:9rem;
  }
}

